.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px; /* optional: limit the container width */
}

.prep-button,
.view-button {
  width: 100px; /* optional: adjust button width */
}
